@charset "utf-8";
:root{
    --font-family: 'Rubik', sans-serif;

    --white: #FFFFFF;
    --black: #2D2926;
    --gray-700: #7B7672;
    --gray-600: #BCBCBC;
    --gray-500: #CECDCA;
    --gray-400: #D9D9D9;
    --yellow: #FFCE2E;
    --orange: #FF7319;
    
    --br: 6px;
    --indent: 80px;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
    position: relative;
}
body{ 
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: var(--black);
    font-family: var(--font-family);
    background-color: var(--primary-100);
    line-height: 1.25;
    font-weight: 400;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body.stop-scrolling{
    overflow: hidden;
}
ul, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    list-style-type:none;
}
h1, h2, h3, h4, h5, h6{
    min-height: 1;
}
button,
select,
input,
table,
textarea{
    font-family: var(--font-family);
    font-size: 1rem;
}
button,
select,
input{
    line-height: 1;
}
button{
    border: none;
    line-height: 1;
}
img{
    border:none;
    padding:0;
    margin:0;
}
hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    height: 0;
}
.clearfix::after{
    clear: both;
}
.page{
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
}
footer{
    flex: 0 0 auto;
    position: relative;
}
.container{
    padding-left: calc(50% - 680px);
    padding-right: calc(50% - 680px);
}
.indent{
    margin-top: var(--indent);
}
/* text-size */
h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}
h2{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}
h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}
h4{
    font-size: 20px;
    font-weight: 400;
}
h5{
    font-size:18px;
    font-weight: 600;
}
a{
    outline: none;
    text-decoration: none;
    font-weight: 400;
}
a:active,
a:hover{
    outline: 0;
    color: var(--secondary-700);
}
a.link{
    font-weight: 500;
}
a.link:hover{
    text-decoration: underline;
}
button{
    font-size: 1rem;
    font-weight: 600;
}
label{
    font-weight: 500;
}

/* popap */
.popap{ 
    width: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    backdrop-filter: blur(15px);
    overflow: auto;
}
.popap.active{
    display: flex;
}
.form__block{
    max-width: 800px;
    padding: 40px 50px 50px;
    border-radius: var(--br);
    position: relative;
    display: none;
    flex-direction: column;
    background-color: var(--white);
    overflow: auto;
    max-height: calc(100vh - 40px);
}
.form__block.active{
    display: flex;
}
.form__content h2{
    margin-bottom: 10px;
}
.popap__close{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 40px;
    line-height: 1;
    cursor: pointer;
}
.popap__close:hover{
    color: var(--primary-700);
}
.form__block h4{
    width: 100%;
    text-align: center;
}

/*header*/
.topsection{
    background: radial-gradient(50% 50% at 50% 50%, #433A39 0%, #191A23 70%);
    color: var(--white);
    padding-bottom: var(--indent);
    position: relative;
    overflow: hidden;
}
.topsection::after{
    content: '';
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('./topsection-bottom.png') center bottom no-repeat;
}
.topsection a{
    color: var(--white);
}
svg{
    fill: transparent;
}
svg.icon-logo{
    fill: transparent;
}
.topsection-content{
    position: relative;
    z-index: 3;
    padding-top: 140px;
    text-align: center;
}
ul.decision-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 30px 0;
}
ul.decision-list li{
    width: calc(33.3% - 6.6px);
    min-height: 70px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    padding: 10px 20px 10px 60px;
    border-radius: var(--br);
    text-align: left;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
}
ul.decision-list li span{
    color: var(--gray-700);
    font-weight: 700;
}
ul.decision-list li .decision-list__item{
    position: relative;
}
ul.decision-list li .decision-list__item::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url('./check-circle.png') 0 0 no-repeat;
    background-size: cover;
}
.button-primary{
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--black);
    background: var(--yellow);
    border-radius: var(--br);
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
}
.button-primary:hover{
    opacity: .9;
}
.button-secondary{
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--gray-500);
    border-radius: var(--br);
    padding: 0 25px;
    cursor: pointer;
    height: 50px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.button-secondary:hover{
    border: 1px solid var(--orange);
    color: var(--orange);
}
.button-secondary svg{
    width: 24px;
    height: 24px;
}
ul.topsection-fon__icons li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    width: 80px;
    position: absolute;
}
ul.topsection-fon__icons li svg{
    width: 45px;
}
svg.icon-AI{height: 45px;}
svg.icon-BigData{height: 50px;}
svg.icon-blockchain{height: 45px;}
svg.icon-digitalTwins{height: 33px;}
svg.icon-Iot{height: 40px;}
svg.icon-SaaS{height: 29px;}
svg.icon-ML{height: 45px;}
.topsection-fon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    height: 100%;
}
ul.topsection-fon__icons{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ul.topsection-fon__icons li:nth-child(1){
    top: 140px;
    left: 4%;
}
ul.topsection-fon__icons li:nth-child(2){
    top: 250px;
    left: 12%;
}
ul.topsection-fon__icons li:nth-child(3){
    bottom: 70px;
    left: 5%;
}
ul.topsection-fon__icons li:nth-child(4){
    bottom: 30px;
    left: 22%;
}
ul.topsection-fon__icons li:nth-child(5){
    top: 230px;
    right: 9%;
}
ul.topsection-fon__icons li:nth-child(6){
    top: 400px;
    right: 1%;
}
ul.topsection-fon__icons li:nth-child(7){
    bottom: 20px;
    right: 25%;
}
.topsection-animation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.topsection-animation__block{
    width: calc(5% - 1px);
    height: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px);
}
.topsection-animation .topsection-animation__block:nth-child(4n+1){
    backdrop-filter: blur(10px);
}
.topsection-animation .topsection-animation__block:nth-child(4n+2){
    backdrop-filter: blur(50px);
}
.topsection-animation .topsection-animation__block:nth-child(4n+3){
    backdrop-filter: blur(30px);
}
.topsection-animation .topsection-animation__block:nth-child(4n+4){
    backdrop-filter: blur(20px);
}
.topsection-animation__circle{
    position: absolute;
    transition: .5s;
    z-index: 1;
    width: 600px;
    height: 600px;
    background: radial-gradient(50% 50% at 50% 50%, #FF7319 0%, rgba(43, 42, 49, 0.5) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transform: translateX(0);
    opacity: 1;
    animation: animate 30s ease-in-out infinite;
}
@keyframes animate {
    0%,25%,100%{
        transform: translateX(0);
        opacity: 1;
    }
    25%{
        transform: translateX(-700px);
        opacity: .3;
    }
    75%{
        transform: translateX(700px);
        opacity: .3;
    }
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    z-index: 4;
    padding: 15px 10px;
    backdrop-filter: blur(15px);
}
header.active{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    animation:slideInDown .5s ease;
}
@keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 600;
}
.logo span{
    color: var(--yellow);
    display: block;
}
svg.icon-logo{
    width: 44px;
    height: 44px;
}
ul.header-social{
    display: flex;
    gap: 2px;
}
ul.header-social li a{
    width: 40px;
    height: 40px;
    border-radius: var(--br);
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.header-social li a:hover{
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid  rgba(255, 255, 255, 0.2);
}
.header-social svg{
    width: 24px;
}
svg.icon-telegram{
    height: 21px;
}
svg.icon-vk{
    height: 14px;
}
svg.icon-youtube{
    height: 17px;
}
svg.icon-dzen{
    height: 24px;
}
.header__contacts-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2;
}
.header__contact-phone{
    font-weight: 700;;
}
.header__contacts-all a:hover{
    color: var(--yellow);
}
.header__contacts{
    display: flex;
    gap: 20px;
}
.header__button{
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white);
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--br);
    padding: 12px 15px 10px;
    font-weight: 400;
    cursor: pointer;
}
.header__button:hover{
    background-color: var(--yellow);
    color: var(--black);
}
ul.header__menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.header__menu li a{
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
}
ul.header__menu li:last-child a{
    border-right: none;
}
ul.header__menu li a:hover,
ul.header__menu li a.active{
    color: var(--yellow);
}
/*header*/
/* company */
#company{
    text-align: center;
}
.heading{
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}
ul.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: 40px 0;
}
ul.services::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white);
}
ul.services li{
    width: calc(33.3% - 1px);
    border-right: 1px solid var(--gray-400);
    border-top: 1px solid var(--gray-400);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
ul.services li:nth-child(3n){
    border-right: none;
}
ul.services li img{
    width: 70px;
    height: auto;
}
ul.services li p{
    font-size: 14px;
    color: var(--gray-700);
}
.banner{
    max-width: 800px;
    height: 130px;
    border-radius: var(--br);
    border: 1px solid var(--gray-400);
    background-color: var(--white);
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.04), 0px 10px 10px rgba(0, 0, 0, 0.04);
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 10px 10px 10px 240px;
    font-size: 24px;
    margin: 0 auto;
}
.banner img{
    width: 209px;
    height: 130px;
    border: 1px solid #95AF0B;
    border-right: none;
    border-radius: var(--br) 0 0 var(--br);
    position: absolute;
    top: -1px;
    left: -1px;
}
/* company */
/* products */
#products{
    padding-bottom: var(--indent);
}
.heading-product{
    width: 100%;
    display: flex;
    justify-content: center;
}
.heading-product h2{
    background: linear-gradient(180deg, #EFEFEF 38.54%, rgba(239, 239, 239, 0) 100%);
    padding: 30px 0;
    border-radius: var(--br) var(--br) 0 0;
    display: block;
    text-align: center;
    width: 300px;
}
.products-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.products-list__item{
    display: flex;
}
.products-list__item-content{
    width: 60%;
    padding: 100px 20px 60px 60px;
    border-radius: var(--br) 0 0 var(--br);
    border: 2px solid var(--gray-500);
    border-right: none;
    position: relative;
}
.products-list__item-content h4{
    margin-bottom: 15px;
}
.products-list__item-img{
    width: 40%;
}
.products-list__item-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 var(--br) var(--br) 0;
}
.products-list__buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}
.products-list .products-list__item:nth-child(2n) .products-list__item-content{
    border-radius: 0 var(--br) var(--br) 0;
    border: 2px solid var(--gray-500);
    border-left: none;
}
.products-list .products-list__item:nth-child(2n) .products-list__item-img{
    order: -1;
}
.products-list .products-list__item:nth-child(2n) .products-list__item-img img{
    border-radius: var(--br) 0 0 var(--br);
}
hr{
    border-color: var(--gray-400);
}
/* products */
/* documentation */
#documentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: var(--indent);
}
#documentation h2{
    text-align: center;
}
ul.documentations-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
ul.documentations-list li{
    width: calc(25% - 15px);
    border: 1px solid var(--gray-600);
    border-radius: var(--br);
    position: relative;
}
ul.documentations-list li div,
ul.documentations-list li a{
    color: var(--black);
    font-weight: 600;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul.documentations-list li div:first-child:nth-last-child(2):after {
    content: '';
    width: 24px;
    height: 24px;
    background: url('./arrow-right.png') center no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    transition: .5s;
}
ul.documentations-list li:hover div:first-child:nth-last-child(2):after{
    transform: rotate(90deg);
}
ul.documentations-list li svg{
    width: 24px;
    height: 24px;
}
ul.documentations-list li ul{
    font-size: 14px;
    background-color: var(--white);
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    padding: 5px 0;
    display: none;
    flex-direction: column;
    font-size: 16px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 2;
}
ul.documentations-list > li:hover{
    border-color: var(--orange);
}
ul.documentations-list li:hover ul{
    display: flex;
    width: 100%;
}
ul.documentations-list li:hover ul li{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 0;
}
ul.documentations-list li:hover ul li:hover{
    background-color: var(--gray-400);
}
ul.documentations-list li:hover ul li a{
    font-weight: 400;
    padding: 0;
}
/* documentation */
/* form */
.form__content h2{
    text-align: center;
}
.form__block-open{
    display: flex;
}
.primary__form{
    width: 500px;
}
form{
    margin-top: 30px;
}
.primary__form-content__inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.input-friends{
    position: relative;
    width: calc(50% - 10px);
}
.textarea-friends{
    position: relative;
    width: 100%;
}
.input-friends label,
.textarea-friends label{
    position: absolute;
    top: -13px;
    left: 10px;
    font-weight: 400;
    color: #949494;
    background: var(--white);
    padding: 3px 6px;
}
.input-friends input{
    width: 100%;
    height: 44px;
    background: var(--white);
    border: 1px solid #999;
    border-radius: 6px;
    padding-left: 15px;
}
.input-friends input:focus{
    border-color: var(--orange);
}
.textarea-friends textarea{
    width: 100%;
    height: 80px;
    background: var(--white);
    border: 1px solid #999;
    border-radius: 6px;
    padding-top: 5px;
    padding-left: 15px;
}
.textarea-friends textarea:focus{
    border-color: var(--orange);
}
.input-friends:has(input:focus) label,
.textarea-friends:has(textarea:focus) label{
    color: var(--orange);
}
.primary__form-content__checkbox{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.primary__form-content__checkbox label{
    font-weight: 400;
    color: rgba(35, 27, 37, 0.6);
    font-size: 14px;
    line-height: 1.1;
}
.primary__form-content__checkbox label a{
    color: rgba(35, 27, 37, 0.6);
    font-weight: 400;
    text-decoration: underline;
    font-size: 14px;
    line-height: 1.1;
}
.primary__form-content__checkbox label a:hover{
    text-decoration: none;
    color: rgba(35, 27, 37, 1);
}
.checkbox-friends{
    position: relative;
    padding-left: 24px;
}
input[type="checkbox"]{
    transform: scale(1.2);
    position: absolute;
    top: 6px;
    left: 0;
}
form .button-primary{
    background-color: var(--orange);
    width: 100%;
    color: var(--white);
}
/* form */
/* footer */
footer{
    padding: var(--indent) 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--indent);
    background: #100E14 url('./footer.png') center top no-repeat;
}
.footer__copyright{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.footer__copyright a{
    color: var(--white);
}
/* footer */
/* cookies */
.cookies-wrapper{
    max-width: 340px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 98;
    padding: 0 10px 10px;
}
.cookies{
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(15px);
    border-radius: var(--br);
    padding: 1rem;
    color: var(--white);
    width: 100%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    
}
.cookies-text{
    font-size: 12px;
    line-height: 1.3;
}
.cookies-text a{
    color: var(--blue);
    font-weight: 600;
    text-decoration: underline;
}
.cookies-button{
    border-radius: var(--br);
    background:  var(--orange);
    color: var(--white);
    padding: .3rem 1rem;
    cursor: pointer;
    font-weight: 600;
}
.cookies-button:hover{
    background: var(--black);
    color: var(--white);
}
.cookies-close{
    display: none;
}
/* cookies */
svg.icon-check{
    width: 100px;
    height: 100px;
}
.form__content-check{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__content-check h4{
    color: var(--gray-700);
}
.wrapper{
    padding: 0 100px;
    width: 100%;
}
.products-list__item-content ul li{
    position: relative;
    padding-left: 15px;
}
.products-list__item-content ul li:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--orange);
}
.w100{
    width: 100%;
}
@media screen and (max-width: 1368px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    ul.topsection-fon__icons li:nth-child(1){
        left: 2%;
    }
    ul.topsection-fon__icons li:nth-child(2){
        left: 8%;
    }
    ul.topsection-fon__icons li:nth-child(3){
        left: 5%;
    }
    ul.topsection-fon__icons li:nth-child(4){
        left: 15%;
    }
    ul.topsection-fon__icons li:nth-child(5){
        right: 4%;
    }
    ul.topsection-fon__icons li:nth-child(6){
        right: 2%;
    }
    ul.topsection-fon__icons li:nth-child(7){
        right: 20%;
    }
}
@media screen and (max-width: 1200px){
    .wrapper{
        padding: 0 40px;
    }
    ul.header__menu{
        display: none;
    }
    .topsection-fon{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 0 20px;
    }
    ul.topsection-fon__icons{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 30px;
    }
    ul.topsection-fon__icons li{
        position: relative;
        flex-direction: row;
        width: calc(25% - 15px);
        justify-content: flex-start;
        text-align: left;
        color: rgba(255, 255, 255, 1);
    }
    ul.topsection-fon__icons li:nth-child(1){
        top: auto;
        left: auto;
    }
    ul.topsection-fon__icons li:nth-child(2){
        top: auto;
        left: auto;
    }
    ul.topsection-fon__icons li:nth-child(3){
        bottom: auto;
        left: auto;
    }
    ul.topsection-fon__icons li:nth-child(4){
        bottom: auto;
        left: auto;
    }
    ul.topsection-fon__icons li:nth-child(5){
        top: auto;
        right: auto;
    }
    ul.topsection-fon__icons li:nth-child(6){
        top: auto;
        right: auto;
    }
    ul.topsection-fon__icons li:nth-child(7){
        bottom: auto;
        right: auto;
    }
    .topsection{
        background: #191A23;
        
    }
    .topsection::after{
        display: none;
    }
}
@media screen and (max-width: 1024px){
    h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    .button-primary,
    .button-secondary {
        font-size: 14px;
        height: 40px;
    }
    ul.decision-list li {
        width: calc(50% - 5px);
    }
    .products-list__item-content {
        width: 60%;
        padding: 30px 10px 30px 30px;
    }
    ul.documentations-list {
        gap: 10px;
    }
    ul.documentations-list li div, ul.documentations-list li a {
        padding: 10px;
    }
    .form__block {
        margin: 0 10px;
        padding: 30px 30px 30px;
    }
    ul.header-social li a {
        width: 30px;
        height: 30px;
    }
    .header-social svg{
        width: 18px;
    }
    .header__contact-mail,
    .header__contact-phone{
        font-size: 14px;
    }
    .header__button{
        font-size: 12px;
    }
}
@media screen and (max-width: 768px){
    ul.decision-list li {
        min-height: 60px;
        padding: 10px 10px 10px 20px;
    }
    ul.decision-list li .decision-list__item::before {
        display: none;
    }
    body{ 
        font-size: 14px;
    }
    h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    .topsection-content {
        padding-top: 100px;
    }
    :root{
        --indent: 40px;
    }
    .wrapper {
        padding: 0;
    }
    .heading-product h2 {
        padding: 20px 0 10зч;
        width: 100%;
        margin-bottom: 0;
    }
    .banner {
        max-width: 100%;
        height: 100px;
        font-size: 20px;
        margin: 0;
        padding: 10px 10px 10px 180px;
    }
    .banner img {
        width: 160px;
        height: 100px;
        object-fit: cover;
    }
    .heading {
        font-size: 16px;
        padding-top: 10px;
    }
    .products-list__item-img{
        display: none;
    }
    .products-list__item-content {
        width: 100%;
        padding: 20px;
        border: 2px solid var(--gray-500);
        border-radius: var(--br);
    }
    .products-list {
        gap: 10px;
    }
    .products-list .products-list__item:nth-child(2n) .products-list__item-content{
        border: 2px solid var(--gray-500);
        border-radius: var(--br);
    }
    .header__button{
        display: none;
    }
    .products-list__buttons {
        margin-top: 20px;
    }
    ul.services li p{
        display: none;
    }
    ul.services li {
        padding: 10px;
        gap: 5px;
    }
    ul.services {
        margin: 20px 0;
    }
    ul.documentations-list li {
        width: 100%;
    }
    ul.documentations-list li svg{
        display: none;
    }
    ul.documentations-list li div, ul.documentations-list li a {
        padding: 15px;
    }
    ul.services li img {
        width: 40px;
    }
    #products {
        padding-bottom: calc(var(--indent) / 2);
    }
    #documentation.indent {
        margin-top: calc(var(--indent) / 1.5);
    }
    ul.topsection-fon__icons{
        gap: 20px;
        padding-top: 20px;
    }
    ul.topsection-fon__icons li{
        width: calc(50% - 10px);
    }
    .topsection-animation{
        display: none;
    }
}
@media screen and (max-width: 520px){
    ul.header-social{
        display: none;
    }
    ul.decision-list{
        display: none;
    }
    .topsection-content button{
        margin-top: 20px;
    }
    #company {
        text-align: left;
    }
    ul.services li img{
        display: none;
    }
    ul.services li {
        width: 100%;
        border: none;
        padding: 0;
        position: relative;
        text-align: left;
        align-items: flex-start;
        font-weight: 400;
        padding-left: 15px;
    }
    ul.services li:before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--orange);
    }
    ul.services {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        margin: 10px 0 20px;
        gap: 5px;
    }
    ul.services li h5 {
        font-weight: 400;
    }
    :root{
        --indent: 20px;
    }
    h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 14px;
    }
    .banner {
        font-size: 14px;
        padding: 5px 5px 5px 160px;
    }
    .banner img {
        width: 150px;
    }
    .form__block {
        padding: 20px;
    }
    .input-friends {
        width: 100%;
    }
    .footer__copyright {
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }
    footer {
        align-items: flex-start;
    }
    .primary__form-content__checkbox {
        padding: 10px 0 20px;
    }
    svg.icon-logo {
        width: 20px;
        height: 20px;
    }
    .logo {
        font-size: 12px;
        gap: 5px;
        font-weight: 400;
    }
    header {
        padding: 10px;
    }
    .topsection-content {
        padding-top: 80px;
    }
    ul.topsection-fon__icons{
        gap: 2px;
        padding-top: 15px;
    }
    ul.topsection-fon__icons li{
        width: 100%;
    }
    ul.topsection-fon__icons li svg{
        transform: scale(.8);
    }
    .topsection-content {
        text-align: left;
    }
}